body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    font-size: 15px;

    color: #364781;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1600px;
    max-height: 1000px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background: url("../images/photo3.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: 1600px;
}

.intro__inner {
    width: 100%;
    max-width: 600px;
    margin: 180px 0 0 260px;

    text-align: left;
}

.blue_button1 {
    border-radius: 30px;
    height: 60px;
    width: 175px;
    
    background-color: #2500f9;
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: -50px;
    margin-left: 33px;
    color: #fff;    
    transition: background 0.2s linear;
    
}

.blue_button1:hover {
    background-color: #2a1a88;
}

.blue_button2 {
    border-radius: 30px;
    height: 60px;
    width: 175px;
    
    background-color: #2500f9;
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    color: #fff;    
    transition: background 0.2s linear;
    
}

.blue_button2:hover {
    background-color: #2a1a88;
}

.white_button2 {
    border-radius: 30px;
    height: 60px;
    width: 175px;
    margin: 0 0 0 20px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    color: #2500f9;    
    transition: background 0.2s linear;
    
}

.white_button2:hover {
    background: rgba(0,0,0,0);
    color: #2500f9;
    box-shadow: inset 0 0 0 3px #2500f9;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #364781;
}

.intro__suptitle {
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 70px;
    font-size: 60px;
    color: #364781;
}

.intro_text {
    font-weight: 400;
    font-size: 18px;
    max-width: 550px;

}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #364781;
    margin: 60px 0 0 11%;
}


/* Nav */
.nav {
    font-size: 16px;
    font-weight: 400;
    margin: 75px 173px 0 0;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #364781;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}





.See_all {
    margin-top: -20px;
}